form div {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

button {
    margin: 15px;
}

@media all and (min-width: 1000px) {
    input,
    textarea {
        width: 1000px;
    }
}